@import '../../assets/style/variables.module.scss';

.collapse {
  margin-top: 50px;
  margin-bottom: 30px;

  .collapse-header {
    .collapse-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      width: 100%;
      background-color: $main-color;
      color: $background-color;

      .arrow-reversed {
        transform: rotate(-0.5turn);
      }
    }
  }

  .collapse-content {
    padding: 20px;
    color: $main-color;
    text-align: center;
    font-size: 18px;
  }
}
