@import '../../assets/style/variables.module.scss';

.collapse {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;

  .collapse-header {
    width: 100%;
    .collapse-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      width: 90%;
      margin: auto;
      background-color: $main-color;
      color: $background-color;
      border-radius: 20px;

      .arrow-reversed {
        transform: rotate(-0.5turn);
      }
    }
  }

  .collapse-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    font-size: 18px;
  }
}
